/*Fonts*/
@font-face {
    font-family: DSIFont;
    font-stretch: ultra-condensed;
    src: url("assets/fonts/dsifont.otf") format("opentype");
}

* {
    font-family:
        /* "MS UI Gothic", "MS Gothic", */
        system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-ligatures: common-ligatures;
    image-rendering: optimizeSpeed;
    /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;
    /* Firefox                        */
    image-rendering: -o-crisp-edges;
    /* Opera                          */
    image-rendering: -webkit-optimize-contrast;
    /* Chrome (and eventually Safari) */
    image-rendering: pixelated;
    /* Universal support since 2021   */
    image-rendering: optimize-contrast;
    /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;
    /* IE8+                           */
}

body {
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("looping_menu.png");
    background-size: 64px;
    background-repeat: repeat;
    overflow-x: clip;
}

#app {
    display: inline;
    z-index: 1;
    overflow: hidden;
    height: 100vh;
}

#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

#camerafooter {
    display: none;
    color: white;
    margin: 5px;
    background: linear-gradient(0.25turn, #ff000000, rgba(130, 101, 138, 0.75), #ff000000);
}

#name {
    font-size: 22px;
}

.label {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: flex-start;
    color: white;
    background: linear-gradient(0.25turn, #ff000000, rgba(130, 101, 138, 0.75), rgba(130, 101, 138, 0.75), rgba(130, 101, 138, 0.75), #ff000000);
    text-align: center;
    width: 512px;
    font-size: x-large;
    padding: 5px;
}

.label-sound {
    min-width: 200px;
    max-width: 512px;
    width: 35vw;
    background: linear-gradient(0.25turn, #304048, #608098, #608098, #608098, #304048);
}

/* Buttons */

.cambutton {
    cursor: pointer;
    display: flex;
    justify-self: center;
    justify-content: center;

    border-color: rgba(128, 128, 128, 0.5);
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;

    outline-color: #fff;
    outline-style: solid;
    outline-style: solid;
    outline-width: 4px;
    font-size: x-large;
    text-align: center;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.66);

    user-select: none;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
}

.cambutton:active:not(.cambutton_selected) {
    border-color: rgba(0, 0, 0, 0.5);
    translate: 0px 4px;
    box-shadow: none;

    background-color: rgba(130, 101, 138, 0.75);
}

.cambutton_selected {
    border-color: #9a79ae;
    outline-color: #000000;
    color: white;
    background-color: rgba(130, 101, 138, 0.75);
}

.cambutton_selected:active {
    border-color: rgba(0, 0, 0, 0.5);
    translate: 0px 4px;
    box-shadow: none;
    outline-color: white;
    color: black;
    background-color: rgba(130, 101, 138, 0.75);
}

.dsimenubutton {
    cursor: pointer;
    display: flex;
    justify-self: center;
    justify-content: center;

    border-color: rgba(128, 128, 128, 0.5);
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;

    outline-color: #fff;
    outline-style: solid;
    outline-style: solid;
    outline-width: 4px;
    font-size: x-large;
    text-align: center;
    box-shadow: 0px 6px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.66);
    width: max-content;
    user-select: none;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
}


.dsimenubutton:active:not(.dsimenubutton_selected) {
    border-color: rgba(0, 0, 0, 0.5);
    translate: 0px 4px;
    box-shadow: none;
    background-color: rgba(32, 169, 203, 0.75);
}

.dsimenubutton_selected {
    border-color: rgb(32, 169, 203);
    outline-color: #000000;
    color: white;
    background-color: rgba(32, 169, 203, 0.75);
}

.dsimenubutton:active {
    border-color: rgba(0, 0, 0, 0.5);
    translate: 0px 4px;
    box-shadow: none;
    outline-color: white;
    color: black;
    background-color: rgba(32, 169, 203, 0.75);
}




#dirselect {
    display: none;
}



#sdcardscreen-camera {
    display: none;
    padding: 15px;
}


#dirselect-sound {
    display: none;
}

#menuscreen {
    padding: 15px;
}

#preview {
    background-color: #000000;
    width: 33vw;
    height: auto;
    aspect-ratio: 4/3;
    border-color: #FFF;
    border-width: 8px;
    border-style: solid;
    user-select: none;

    box-shadow: 7px 8px #414141;
    align-self: center;
    outline: none;
}

#previewcontainer {
    position: relative;
    display: flex;
    width: 100%;
    flex-grow: 1;
    justify-items: left;
    flex-direction: row;
}

#buttons {
    align-content: center;
    width: 25%;
}

#imagecontainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 50%;
}


#previewspacer {
    width: 25%;
}

#albumscreen {
    display: none;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    justify-content: start;
    height: 100%;
}

#gallery {
    position: relative;
    width: 100%;
    height: 25%;
}

.griditem {
    cursor: pointer;
    font-kerning: none;
    letter-spacing: 1px;
    position: absolute;
    width: 128px;
    height: 128px;
    background-color: #fff;
    color: white;
    user-select: none;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
    transition: left 0.05s linear,
        display 0.05s linear;
    transition-behavior: allow-discrete;
}

.griditemphoto {
    border-color: #fff;
    border-width: 4px;
    background-image: url("");
    background-size: cover;
    background-position: center;
    border-style: solid;
}

.infogriditem {
    border-radius: 8px;
    font-size: 24px;
    font-weight: 550;
    text-align: center;
    background-color: #38200c;
}

.datearrow {
    font-size: 48px;
    margin-top: 5px;
    line-height: 32px;
}

.datemonthday {
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;
    line-height: 40px;
}

.dateyear {
    font-size: 32px;
    margin-top: 5px;
    line-height: 32px;
}

#photoscount {
    font-weight: bold;
    font-size: 32px;
}

#countimagestext {
    width: 100%;
    position: absolute;
    bottom: 5px;
}

#galleryslider {
    width: 80%;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: #281810;
    border-radius: 9px;
}

input[type=range]::-webkit-slider-thumb {
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #fbebcb;
    outline-color: #fff;
    outline-style: solid;
    outline-width: 2px;
    cursor: ew-resize;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #281810;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    background: #281810;
    border-radius: 9px;
}

input[type=range]::-moz-range-thumb {
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #fbebcb;
    outline-color: #fff;
    outline-style: solid;
    outline-width: 2px;
    cursor: ew-resize;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #281810;
    border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
    background: #281810;
    border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #fbebcb;
    outline-color: #fff;
    outline-style: solid;
    outline-width: 2px;
    cursor: ew-resize;
}

input[type=range]:focus::-ms-fill-lower {
    background: #281810;
}

input[type=range]:focus::-ms-fill-upper {
    background: #281810;
}



#photodate {
    position: absolute;
    top: 0px;
    right: 0px;
    pointer-events: none;
    background-color: rgba(255, 96, 0, 0.66);
    text-align: right;
    color: white;
    padding: 1px;
    width: max-content;
    padding-left: 8px;
    border-bottom-left-radius: 10px;
    font-size: x-large;
    font-weight: normal;
}

#sdcardscreen-sound {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#sounddisc {
    z-index: 1;
    pointer-events: none;
    user-select: none;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50%;
    height: auto;
    background-color: #fffbff;
}

#soundscreen {
    display: none;
    width: 100%;
    height: 100%;
}

#songsidebar {
    background-color: #fffbff;
    z-index: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 50%;
}

#songlist {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    flex-grow: 1;
    bottom: 0px;
    width: 100%;
    overflow-x: hidden;
}



.listitem {
    display: flex;
    flex-direction: row;
    background-image: url("assets/textures/songlistbg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
    width: 100%;
    height: 24px;
    user-select: none;
    cursor: pointer;
    margin-top: 0px;
}

.listitem_text {
    font-family:
        DSIFont, "MS UI Gothic", "MS Gothic", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 16px;
    vertical-align: top;
    transform: translate(0px, -6px);
    text-align: left;
    text-wrap: nowrap;
    position: relative;
    right: 0px;
    top: 2px;
    width: 90%;
    height: 24px;
}

.listitem_icondiv {
    font-family:
        "MS UI Gothic", "MS Gothic", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 13px;
    vertical-align: text-top;
    text-align: left;
    text-wrap: nowrap;
    position: relative;
    right: 0px;
    width: 10%;
    height: max-content;
}

.listitem_icon {
    position: absolute;
    right: 16px;
    width: 16px;
    height: 16px;
    top: 4px;
}

#waveform {
    width: 100%;
    height: 33.33vh;
    flex-grow: 1;
    position: relative;
    left: 0px;
    user-select: none;
    bottom: 0px;
}

#metadata {
    display: flex;
    justify-content: center;
    width: 100%;
    height: max-content;
    max-height: 75%;
}

#playingsong {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

#metadatacanvas {
    font-family: DSIFont;
    font-kerning: none;
    font-smooth: never;
    width: 100%;
    aspect-ratio: 16/9;
    -webkit-font-smoothing: antialiased;
    font-display: block;
    font-optical-sizing: none;
}


#soundpopup {
    display: none;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 12px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.25);
    min-width: 256px;
    width: fit-content;
    height: fit-content;
    background-color: #21aaef;
}

#soundpopupbg {
    display: none;

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    overflow: hidden;
    z-index: 50;
}

#soundpopup-title {
    padding-left: 16px;
    padding-right: 16px;
    user-select: none;
    background: #21aaef;
    font-family: DSIFont;
    color: #fff;
}

#soundpopup_buttons {
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-direction: row;
    position: relative;
}

.soundpopup_button {
    background-color: #21aaef;
    font-family: DSIFont;
    color: #fff;
    width: 100%;
    height: auto;
    border: none;
}

.soundpopup_button:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

#metadatawindow {
    display: none;
    width: 100%;
    padding-left: 24px;
    background-image: url("assets/textures/songlistbg.png");
    background-size: auto 24px;
    background-clip: unset;
    background-position: top;
    flex-direction: column;
}

#metadatawindow input {
    position: relative;
    top: -4px;
    background-color: transparent;
    border: none;
    height: 20px;
    font-size: medium;
    transform: translate(0px, 2px);
    vertical-align: middle;
}

#metadatawindow img {
    position: relative;
    top: 2px;
    background-color: transparent;
    border: none;
    height: 16px;
}

#metadata_track {
    position: relative;
    left: 24px;
}


#metadata_year {
    position: relative;
    left: 32px;
}


#metadata_track_no {
    min-width: 32px;
}


#metadata_track_of {
    min-width: 32px;
}

textarea,
select,
input {
    field-sizing: content;
}


#textinputwindow {
    display: none;
    width: 100%;
    padding-left: 24px;
    background-image: url("assets/textures/songlistbg.png");
    background-size: auto 24px;
    background-clip: unset;
    background-position: top;
    flex-direction: row;
}

#textinputwindow input {
    position: relative;
    top: -4px;
    background-color: transparent;
    border: none;
    height: 20px;
    font-size: medium;
    transform: translate(0px, 2px);
    vertical-align: middle;
}


#textinputwindow img {
    position: relative;
    top: 2px;
    background-color: transparent;
    border: none;
    height: 16px;
}


#songinputwindow {
    display: none;
    width: 100%;
    padding-left: 24px;
    background-image: url("assets/textures/songlistbg.png");
    background-size: auto 24px;
    background-clip: unset;
    background-position: top;
    flex-direction: row;
}

#songinputwindow input {
    position: relative;
    top: -4px;
    background-color: transparent;
    border: none;
    height: 20px;
    font-size: medium;
    transform: translate(0px, 2px);
    vertical-align: middle;
}


#songinputwindow img {
    position: relative;
    top: 2px;
    background-color: transparent;
    border: none;
    height: 16px;
}


#progresswindow {
    width: 100%;
    padding: 15px;
    padding-left: 0px;
    background-color: #FFF;
    display: none;
    align-items: center;
    flex-direction: column;
}

/* Context Menu Stuff */

#ctxmenu {
    width: max-content;
    height: max-content;
    position: fixed;
    z-index: 9;
    top: 50px;
    left: 50px;
}

#ctxbox {
    display: flex;
    flex-direction: column;
    position: fixed;
    font-size: 15px;
    width: auto;
    min-width: 150px;
    height: auto;
    transform: translate(5px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    z-index: 9;
    backdrop-filter: blur(2px);
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}

.ctxitem {
    transition: all 0.1s ease-out;
    height: 35px;
    line-height: 35px;
    width: auto;
    min-width: 150px;
    gap: 0;
    font-size: 13px;
    font-family: DSIFont;
    text-indent: 5px;

    border: 0;
    border-radius: 5px;
    position: relative;
    color: black;
    background-color: rgba(0, 0, 0, 0.0);
    white-space: nowrap;
    z-index: 10;
    user-select: none;
}

.ctxsplitter {
    border-top: #646464;
    border-style: solid;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-width: 1px;
}

.ctxitem:hover {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9;
}

.ctxitem:active {
    background-color: rgb(0, 128, 255);
    color: white;
}




#navbar {
    position: relative;
    top: 0px;
    width: 100%;
    height: 32px;
    color: white;
    background-color: #21aaef;
    z-index: 99;
    user-select: none;
}

#navbar button {
    height: 100%;
    width: 64px;
    font-family: DSIFont;
    background-color: #21aaef;
    border: none;
    color: #fff;
    font-size: 16px;
}

#navbar button:hover {
    background-color: rgba(255, 255, 255, 0.25);
}